docker/db/
api/node_modules/
api/.env
api/.env.production
api/.cache/
api/dist/
api/src/index.prod_db.ts
client/node_modules
client/.cache
client/dist
auth.github
auth.google
auth.heroku
heroku/
ghpage/