<nav class="h-16 bg-white flex items-center border-b border-gray-300 px-12">
  <div class="flex-grow flex items-center">
    <img src="/public/images/hexagon.svg" width="48" height="48" />
    <span class="font-semibold text-gray-800 ml-2 text-xl">Dinastry</span>
  </div>
  <div class="flex items-center justify-end">
    <a class="pr-4 text-gray-600 font-semibold">data</a>
    <a class="p-4 text-gray-600 font-semibold">export</a>
    <a class="p-4 text-gray-600 font-semibold">import</a>
    <a class="p-4 text-gray-600 font-semibold">klasifikasi</a>
    <a class="p-4 text-gray-600 font-semibold">pengujian</a>
    <a class="pl-4 text-gray-600 font-semibold">logout</a>
  </div>
</nav>