<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dinastry - Data Mining</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/landing.css">
  </head>
  <body class="landing w-screen h-screen p-0 w-0 flex flex-col">
    <nav class="h-16 bg-white flex items-center border-b border-gray-300 px-12">
      <div class="flex-grow">
        <img src="/public/images/hexagon.svg" width="48" height="48" />
      </div>
      <div class="flex items-center justify-end">
        <a class="p-4 text-gray-600 font-semibold">About</a>
        <a class="p-4 text-gray-600 font-semibold">Login</a>
      </div>
    </nav>
    <section class="hero flex-grow flex flex-col items-center justify-center">
      <h3 class="uppercase tracking-widest text-4xl font-semibold">data mining</h3>
    </section>
    <footer class="h-16 bg-white border-t border-gray-300"></footer>
    <script src="/public/js/base.js"></script>
  </body>
</html>
