<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dinastry - Data Mining</title>
<link rel="stylesheet" href="/public/styles/base.css">
<link rel="stylesheet" href="/public/styles/landing.css">